project_name: Navigation_20hz.config
navigation_config_file: ./ProjectFile/Navigation_final/Navigation_config_20hz_0521.txt
calibration_reflector_map: ./ProjectFile/Navigation_final/Reflector_map_calibration_exam0522_1.txt
navigation_reflector_map: ./ProjectFile/Navigation_final/Reflector_map_navigation_example0518.txt
data_source: ./ProjectFile/Navigation_final/Lidar_data_exp0520_3.txt
last_time_visit: 22.05.2019 12:26:10